.logo-container{
    z-index: 0;
    width: 400px ;
    height: 609px ;
    position: relative;
    top: 50px;
    right: 15%;
    bottom: 0;
    left: 200px; 
    margin: auto; 
    opacity: 0;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo{
        position: absolute;
        top: auto;
        right: auto ;
        bottom: auto ;
        left: 100px;
        margin: auto ;
        width: 100%; 
        opacity: 0;
        // transform: rotateZ(30deg) !important;
        z-index: 1;

    }
}

.svg-container{
    stroke: #ffd700 ;
    stroke-width: 10;
}